$activeCol:#17a2b8;

.searchInput {
    width: 100%;
    padding: 2px 10px;
    margin-right: 5px;
    line-height: 1.5rem;
    color: #495057;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}


@media (max-width:650px) {
    .searchInput {
        box-sizing: border-box;
        width: 100%;
        margin: 10px 0;
    }

}